/* general */
.none	{display: none}
body	{
	background: white url('tutback.gif') no-repeat scroll 0px 88px;
	margin: 0px;
	padding: 30px;
	border-left: 8px solid #729ea5;
	border-right: 8px solid #729ea5;
	}


figure { display: table; }

figcaption { display: table-caption; caption-side: bottom ; }


a	{text-decoration: none; color: black}
a:hover	{background-color: #729ea5}
a:visited	{color: #808}
a:active	{color: red}

hr	{
	border: 4px solid #729ea5;
	height: 1px;
	}

p	{margin-top: 8px}


/* header */
#header {
	display: block;
	height: 62px;
	background: #729ea5;
	clear: left;
	padding: 0px;
	margin: 0px;
	}
#header .logo {
	float: left;
	border: 0px;
	width: 60px;
	height: 60px;
	}
#header .abovehead {
	display: block;
	font: normal normal normal xx-small sans-serif;
	height: 22px
	}
#header .head {
	display: block;
	font: normal normal normal small sans-serif
	}
#header .subhead {
	display: block;
	font: italic normal normal small sans-serif
	}
#header a {
	text-decoration: none;
	color: black
	}

#header a:hover {
	text-decoration: none;
	color: white
	}

/* SECTIONS (navigation first line)*/
#sections {
	display: block;
	background: #729ea5;
	color: white;
	font: normal normal normal medium sans-serif;
	clear: left;
	padding: 0px;
	margin: 0px;
	}
#sections a {
	text-decoration: none;
	color: white;
	}
#sections a:hover {
	color: black;
	}
#sections .selected {
	background: #A4CEFA;
	color: black;
	}
#sections .selected a {
	color: black
	}
#sections .selected a:hover {
	color: white
	}

/* SECTION CONTENTS (navigation second line) */
#contents {
	display: block;
	background: #A4CEFA;
	color: black;
	font: normal normal normal small sans-serif;
	}
#contents a {
	text-decoration: none;
	color: black;
	}
#contents a:hover {
	text-decoration: none;
	color: #AA4C00;
	}
#contents .selected {
	color: black;
	font-weight: bold;
	}

/* Main Heading */
h1 {
	display: block;
	margin: 4px 0px 0px 0px;
	padding: 0px 4px;
	color: white;
	background: #729ea5;
	font: normal normal normal xx-large sans-serif;
	}

h2 {
	display: block;
	color: #729ea5;
	margin: 0px;
	padding: 4px 4px 0px 0px;
	font: normal normal normal x-large sans-serif;
	}

h3 {
	display: block;
	margin: 0px;
	padding: 8px 4px 0px 0px;
	font: normal normal normal large sans-serif;
	}

/* FOOTER */
#footer {
	font: normal normal normal xx-small sans-serif;
	text-align: center;
	margin: 4px 0px 0px 0px;
	border-top: 1px solid #729ea5
	}

/* Root - if a root element is in the second row, like education -> courses = /courses/ */
.root	{
	font-weight: bold
	}

/* table title and filled cell in a table */
.table-title {
	background: #729ea5;
	padding-left:32px;
	font-weight: bold;
	color: white;
	}
.filled {
	background: #A4CEFA
	}
	
.removed {
	background: #DDE
	}

.pda-title {
	background: #729ea5;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left:8px;
	font-weight: bold;
	color: white;
	}

/* UL various types */
ul	{
	margin-top: 4px;
	margin-bottom: 8px;
	}
/* news */

ul.newslist	{}
ul.newslist li	{color: gray; padding: 4px; margin: 2px}
ul.newslist li.current	{color: black; border: 1px solid #729ea5}
ul.newslist .date	{font-style: italic}
ul.newslist .title	{font-weight: bold}
ul.newslist .abstract	{display: block; border-bottom: 1px solid silver}
/* news in main page, research areas, compact list of items */
ul.compact	{margin: 0px; padding: 0px}
ul.compact li	{padding: 2px; list-style-position: inside; border-bottom: 1px solid silver}
ul.compact .date	{font-style: italic}
ul.compact .title	{font-weight: bold}
ul.compact .text	{}
/* projects, long (and colorful) list of items */
ul.long	{margin: 0px; padding: 0px}
ul.long li	{list-style-type: disc; list-style-position: inside; border-bottom: 1px solid silver}
ul.long li.odd	{background-color: #EEE}
ul.long li.even	{background-color: #FFE}
ul.long li.active	{list-style-type: circle}
ul.long li.finished	{list-style-type: disc}
ul.long .group	{font-style: italic}
/* publications */
ul.publications	{margin: 0px; padding: 0px}
ul.publications	{list-style-type: none; padding-left:20px}
ul.publications li.odd	{background-color: #EEE; border-bottom: 1px solid silver; border-right: 1px solid silver; border-top: 1px solid white}
ul.publications li.even	{background-color: #FFE; border-bottom: 1px solid silver; border-right: 1px solid silver}

/* more */
em.found	{font-style: normal; font-weight: bold; background-color: yellow}
p.total	{margin: 0px} /* xx records found in publication search */
.count {background: #DDE}
p.disclaimer {
	font: normal normal normal small sans-serif;
	color: #AAF;
	}
td.divider {border-top: 4px solid #A4CEFA}

#lena	{float: left; margin-right: 8px}
.clear-left {clear: left}
.alt-visual {font: normal normal normal xx-small sans-serif; margin: 2px 2px 2px 8px}

@media print {
	body { border-left: none }

	#header {background: white}
	#header .logo { display: none }
	#header .abobehead { display: none }
	#header .head { display: inline }
	#header .none { display: inline }
	#header .subhead { display: inline; font-style: normal }

	#sections {background: white}
	#sections IMG {display: none}
	#sections .selected {font-weight: bold}
	#sections .none {display: inline}

	#contents {background: white}
	#contents .none {display: inline}

	#lena {float: none; text-align:center}

	h1 {background: white}
	.alt-visual {display:none}

}
